<ion-header translucent style="height: 0;">
  <ion-toolbar fxLayoutAlign="start start">
    <ion-title>Select Issue Categories</ion-title>
  </ion-toolbar>

<div class="div" fxLayoutAlign="start space-evenly">
  <div fxLayout="column" fxLayoutAlign="center center">
    <ion-fab-button class="margin" color="light">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-label class="label">CLEANING</ion-label>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <ion-fab-button class="margin" color="light">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-label class="label">CURE</ion-label>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <ion-fab-button class="margin" color="light">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-label class="label">ANIMAL AID</ion-label>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <ion-fab-button class="margin" color="light">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-label class="label">CAR REPAIR</ion-label>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <ion-fab-button class="margin" color="light">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-label class="label">ACCIDENT</ion-label>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <ion-fab-button class="margin" color="light">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-label class="label">HELP</ion-label>
  </div>
</div>
</ion-header>