<ion-header translucent style="height: 0;">
  <ion-toolbar fxLayoutAlign="start start">
    <ion-title style="font-size: 16px;">Select Distance</ion-title>
  </ion-toolbar>


<div style="margin-top: 20px;">
  <ion-icon style="margin-left: 15px;margin-right: 10px;" size="medium" name="location-outline"></ion-icon>
  <ion-label style="font-size: 16px;">ISSUE RANGE CREATED BY YOU</ion-label>
</div>
<ion-range min="1000" max="2000" step="100" value="1100" snaps color="secondary">
</ion-range>

<div style="margin-top: 20px;">
  <ion-icon style="margin-left: 15px;margin-right: 10px;" size="medium" name="location-outline"></ion-icon>
  <ion-label style="font-size: 16px;">ISSUE RANGE DISPLAYED BY YOU</ion-label>
</div>
<ion-range min="1000" max="2000" step="100" value="1400" snaps color="secondary">
</ion-range>


</ion-header>
