<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content >
  <div class="card-div" fxLayoutAlign="center center">
    <ion-card fxLayout="row" class="person-card">
      <!-- <ion-item fxLayout="row"> -->
        <div  fxLayoutAlign="start" class="img-div">
          <img class="img-width" src="assets/images/macclary.jpg">
        </div>
        
          <ion-grid class="padding">
            <ion-row style="height: 100%;">
              <ion-col size="7" class="padding padding-left" fxLayoutAlign="center start" fxLayout="column">
                <ion-card-subtitle class="card-subtitle">CLAUDIA JOHN</ion-card-subtitle>
                <ion-card-title class="card-title"><b>ACCIDENT</b></ion-card-title>
              </ion-col>
              <ion-col size="5" class="padding" fxLayoutAlign="center start" fxLayout="column">
                <ion-card-subtitle class="card-subtitle">4.5 K</ion-card-subtitle>
                <ion-card-title class="card-title"><b>460 M</b></ion-card-title>
              </ion-col>
            </ion-row>
          </ion-grid>
      <!-- </ion-item> -->
    </ion-card>
  </div>
  <div #map id="map">
  </div>
  <div>
    <ion-card class="card">
      <ion-card-subtitle class="card-padding">Issue Details</ion-card-subtitle>
      <ion-card-content class="card-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</ion-card-content>
    </ion-card>
    <div fxLayout="row" fxLayoutAlign="space-around center" class="card-padding">
      <div fxLayout="column">
        <ion-icon class="icon" name="person-circle-outline"></ion-icon>
        <ion-label fxLayoutAlign="center" class="icon-label">Givers</ion-label>
      </div>
      <div fxLayout="column">
        <ion-icon class="icon" name="images-outline"></ion-icon>
        <!-- <ion-icon name="images-outline"></ion-icon> -->
        <ion-label fxLayoutAlign="center" class="icon-label">View Media</ion-label>
      </div>
      <div fxLayout="column">
        <ion-icon class="icon" name="compass-outline"></ion-icon>
        <!-- <ion-icon name="compass-outline"></ion-icon> -->
        <ion-label fxLayoutAlign="center" class="icon-label">Get Direction</ion-label>
      </div>
      <div fxLayout="column">
        <ion-icon class="icon"style="font-size: 42px !important;" name="close-circle-outline"></ion-icon>
        <ion-label fxLayoutAlign="center" class="icon-label">Close Issue</ion-label>
      </div>
    </div>
  </div>
</ion-content>
